* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open sans';
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    
}

.todo-list {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px #00000065;
}

.todo-list h1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(122, 122, 122, 0.186);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding:10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #FFC32C;
    color: #fff;
    font-size: 20px; 
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
}

button:active {
    background-color: #f5a73a;
}

.list-container {
    padding: 20px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('../imgs/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 11px;
    left: 8px;
}

ul li.checked {
    color: #FFC32C;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('../imgs/checked.png');
}

ul li span {
    position: absolute;
    right: 9px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background-color: #edeef0;
    color: #ff5858;
}